extends ../console

block header
  p
    | With the Players Collection API, you can obtain information from a collection of players simultaneously. the players collection can be qualified in the URI by a particular game, league or team. To obtain specific league or team related information, the players collection is qualified by the relevant league or team. Each element beneath the Players Collection will be a Player Resource
  p
    | maps to http://fantasysports.yahooapis.com/fantasy/v2/players/{sub_resource}
