extends layout

block content
  +nav

  .container.head.section
    h1 Yahoo! Fantasy API Node Module

    p
      | This is a node module created to wrap the Yahoo! Fantasy Sports API (<a href="https://developer.yahoo.com/fantasysports/guide/index.html">link</a>). At the moment, not all subresources are available, nor are any of the 'collection' elements. I do hope to add them, and they have been added to the code, but as of now this project is very much in an open beta phase.
    p
      | The API is designed to act as a helper for those interacting with the Y! Fantasy API. The goal is for ease of use for the user, both in terms of querying endpoints and parsing responses. I've noticed that in working with the API, the data is not always the easiest to understand, so hopefully what I have created here will help people out.

    h2 Installation

    p
      | You can install the module via npm by running:
    pre
      code $ npm install yahoo-fantasy

    h2 Usage Notes

    p
      | The token from Yahoo! lasts for only an hour, so if the response returned from Yahoo! is an error, you'll have to refresh the authentication token from within your app.
    p
      | I've created a customized version of the <a href="https://github.com/whatadewitt/passport-yahoo-oauth">Passport Strategy for Yahoo! OAuth</a> to help me when I developed this module. It's a fork of the strategy on the PassportJS homepage, which simply fixed a couple of issues. It would appear that the original creator is no longer supporting the strategy, and I may have missed some things, but it has worked as much as I've needed it. Please let me know if you have any questions about it.

    h2 Licence
    p
      | This module is available under the <a href="http://opensource.org/licenses/MIT">MIT Licence</a>

    h2 Bugs &amp; Issues
    p
      | This project is very much still a work in progress, please report any issues via the <a href="https://github.com/whatadewitt/yfsapi/issues" target="_blank">GitHub issues page</a>.

  .dark.section
    .container
      h2 Changelog
      
      h4 0.5.3
      ul
        li
          | Fixed a bug where leagueFetch was throwing an error, thanks <a href="https://github.com/danielspector" target="_blank">danielspector</a>!
      h4 0.5.2
      ul
        li
          | Fixed a bug where player stats by week url was not being created properly, thanks <a href="https://github.com/withsmilo" target="_blank">withsmilo</a>!
      h4 0.5.1
      ul
        li
          | Fixed a bug where collections that contained subresources would return no data.
      h4 0.5.0
      ul
        li
          | Added "Transactions" collection with functionality to add players, drop players, and add/drop players, thanks again [githubsmilo](https://github.com/githubsmilo)!
      h4 0.4.4
      ul
        li
          | Fixed a bug in player.draft_analysis, thanks <a href="https://github.com/githubsmilo" target="_blank">githubsmilo</a>!
      h4 0.4.3
      ul
        li
          | Added weeks param for league.scoreboard
        li
          | Added weeks param for team.matchups
        li
          | Fixed a bug where individual players weren't mapping properly
        li
          | Minor code cleanup
      h4 0.4.2
      ul
        li
          | Added the ability to specify a date or week when querying the roster resource.
        li
          | Cleaned up the player normalization model
        li
          | Fixed a bug where the team.roster call was erroring
      h4 0.4.1
      ul
        li
          | Fixes to how POST data is handled
      h4 0.4.0
      ul
        li
          | Significantly restructured the code to have more consistency and set it up better for future plans, namely POST methods and proper unit testing
          |* Removed the "refresh user token" and instead return the error to the user who can handle the refresh within their application.
      h4 0.3.1
      ul
        li
          | Additional player attributes added, thanks <a href="https://github.com/ryus08" target="_blank">ryus08</a>!

      h4 0.3.0
      ul
        li
          | Added a method to refresh the user's token if it has expired.
      h4 0.2.2
      ul
        li
          | Hotfix to fix "Teams" collection - use error first convention
      h4 0.2.0
      ul
        li
          | Made helper classes more consistent
        li
          | Added collections for games, leagues, players, and teams
        li
          | Moved to error first convention because JavaScript

      h4 0.1.2
      ul
        li
          | Added 'Team Matchups' subresource
        li
          | Added 'League Scoreboard' subresource
        li
          | Minor code cleanup and improvements

      h4 0.1.1
      ul
        li
          | Refactored module to fix a bug where user sessions were not necessarily unique because of require caching.

      h4 0.1
      ul
        li
          | Initial release.

