extends layout

block content
  .container
    .row
      .col-md-6.col-md-offset-3.center
        i.fa.fa-trophy.large-icon
        h1 YAHOO!
        h4 FANTASY
        a.btn.btn-lg.login-btn(href="/auth/yahoo", title="Login with Yahoo") Login with Yahoo!
