extends ../console

block header
  p
    | With the User API, you can retrieve fantasy information for a particular Yahoo! user. Most usefully, you can see which games a user is playing, and which leagues they belong to and teams that they own within those games.

block inputs
  .row
    .col-sm-12
      p No inputs, but please enusre you've authenticated in the nav to view valid sample data.
