extends ../console

block header
  p
    | With the Users API, you can obtain information from a collection of teams simultaneously. The teams collection is qualified in the URI by a particular league to obtain information about teams within the league, or by a particular user (and optionally, a game) to obtain information about the teams owned by the user. Each element beneath the Teams Collection will be a Team Resource.
  p
    | maps to http://fantasysports.yahooapis.com/fantasy/v2/teams/{sub_resource}
