extends ../console

block header
  p
    | With the Transactions API, you can obtain information via GET from a collection of transactions simultaneously. The transactions collection is qualified in the URI by a particular league. Each element beneath the Transactions Collection will be a Transaction Resource
  //- p
  //-   | You can also POST to the API to perform operations like adding and/or dropping players to/from a team and proposing trades.
  p
    | maps to https://fantasysports.yahooapis.com/fantasy/v2/transactions/
