extends ../console

block header
  p
    | With the Player API, you can obtain the player (athlete) related information, such as their name, professional team, and eligible positions. The player is identified in the context of a particular game, and can be requested as the base of your URI by using the global player_key.
  p
    | maps to https://fantasysports.yahooapis.com/fantasy/v2/player/{player_key}/{sub_resource}

block inputs
  .row.form-group
    .col-sm-2
      label player_key
    .col-sm-4
      input#player_key.form-control(type="text", placeholder="eg. 328.p.6619")
    .col-sm-6.desc
      p
        | Player key format: {game_key}.p.{player_key}
  block subinputs
